body {
    font-family: sans-serif;
    font-size: small;
    padding: 6px;
}

div#title {
    font-size: 35px;
    font-weight: bold;
    margin: 6px;
}
div#title img {
    vertical-align: middle;
    padding-bottom: 4px;
}

input {
    /* don't let input box go outside of parent box (because of padding) */
    width: 100%;
    margin: 6px;
    box-sizing: border-box;

    font-size: small;

    display: none; /* use JS to set to display */
}

#query {
    display: table; /* use JS to set to table */
    width: 100%;
    margin: 6px;
}
.query-cell {
    display: table-cell;
    width: 50%;
    margin: 0;
}
