body {
    font-family: sans-serif;
    font-size: small;
    padding: 6px;
}

div#title {
    font-size: 35px;
    font-weight: bold;
    margin: 6px;
}
div#title img {
    vertical-align: middle;
    padding-bottom: 4px;
}

input {
    /* don't let input box go outside of parent box (because of padding) */
    width: 100%;
    margin: 6px;
    box-sizing: border-box;

    font-size: small;

    display: none; /* set to display by JS */
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: small;
    /* don't let table extend beyond screen */
    table-layout: fixed;
    word-wrap: break-word;
}
th, td {
    border: 1px solid #CCCCCC;
    padding: 4px;
    vertical-align: top;
}
[contentEditable]:focus {
    outline: 3px solid #86B3E3;
}
